@import "~bootstrap/scss/bootstrap";
@import './config.scss'; //importa o arquivo de paleta de cores
@import './login.scss'; //importa o estilo da página de login
@import './cadastro.scss'; //importa o estilo da página de cadastro
@import './home.scss'; //importa estilos da página home
@import './loja.scss'; //importa estilos da página loja
@import './comprarMoedas.scss'; //importa estilos da página de compra de moedas
@import './modalPagamento.scss'; // estilos do modal de pagamento
@import './perfil.scss'; //estilos da página de perfil

/* caso importemos uma fonte especifica
@font-face {
    font-family: 'nome da fonte';
    font-style; normal;
    font-weight: normal;
    src: url('../assets/fonts/nomedafonte.otf') format('opentype');
} */


.mensagemValidacao{
    display: block;
    color: $warningColor;
    font-size: 90%;
    margin: 0;
    margin-left: 10%;
    font-size: 11px;
}

html{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //overflow: hidden;
}

body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
    height: 100%;
    min-height: 610px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}

.container-generic{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    background-color: $primaryColor;
    width: 100%;
    height: 10.96%;
    top: 0;
    justify-content: space-between;
}

.header > div{
    display: flex;
}

.navigation{
    display: flex;
    align-items: center;
}

.navContainer {
    display: flex;
    width: 60%;
}

.navigation > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigation a h2{
    color: white;
    font-size: 1.5em;
    margin: 0px;
    white-space: nowrap;
}

.navigation li {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.navigation li a{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
}

.navigation li h2:hover,
.navigation li h2.selected{
    font-weight: bold;
}

.headerRight p:hover,
.headerRight p.selected{
    font-weight: bold;
}

#minhasMoedas:hover {
    font-weight: normal;
}

.headerRight {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    height: 60%;
    align-self: center;
}

.headerRight p{
    color: white;
    margin: 0px;
    font-weight: normal;
}

#username {
    font-size: 1.2em;
}

.nameMoney {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sair {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin-left: 10px; 
    align-items: center;
    cursor: pointer
}

.sair img{
    height: 50%;
}

.coin {
    height: 2em;
}

img {
    margin: 1%;
}

canvas:not([id=defaultCanvas0]){
    display: none;

}
