@import './config.scss';

.body {
    display: flex;
    flex-direction: row;
    height: 87.04%;
}

.body img {
    margin: 0px;
    height: 100%;
}

.optArea{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.body button {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: white;
    border-radius: 12px;
    font-size: 25px;
    width: 45%;
    height: 15%;
}
