@import './config.scss';


.container-skins{
    h3{
        margin: 3%;
    }

    h4{
        margin-left: 3%;
    }
}

.bloco-onca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    //justify-content: space-around;
    margin-bottom: 5%;

    .bloco-skin{
        border: solid 1px #CCC;
        border-radius: 10px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
        margin: 0px;
        padding: 2.5%;
        margin-bottom: 2%;

        img{
            width: 80%;
            margin: 10%;
        }

        h4{
            text-align: center;
        }



    }
}

.bloco-cachorro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5%;
   
}

.bloco-skin{
    border: solid 1px #CCC;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    margin: 0px;
    padding: 2.5%;
    margin-bottom: 2%;

    img{
        width: 80%;
        margin: 10%;
    }

    h4{
        text-align: center;
    }

}

.botao-equipar{
    background-color: $primaryColor;
    border: solid 1px;
    border-radius: 8px;
    color: white;
    margin: 0%;
    height: 50px;
    font-weight: bold;
    width: 150px;
    
}





@media screen and (min-width:990px){

    .container-perfil{
        /* display: flex;
        flex-direction: row;
        flex: start;
        flex-wrap: wrap;
        margin-top: 2%; */

        .container-skins{
            margin-left: 3%;

            h3{
                margin: 0%;
                margin-bottom: 2%;
            }
        
            h4{
                margin-left: 0%;
            }
        }

    }

    .bloco-onca{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5%;
        flex: start;
        align-items: none;
        justify-content: space-between;
        padding: 0px;
    
        .bloco-skin{
            border: solid 1px #CCC;
            border-radius: 10px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
            margin: 0px;
            padding: 2.5%;
            margin-bottom: 2%;
    
            img{
                width: 80%;
                margin: 10%;
            }
    
    
    
        }
    }

    .bloco-cachorro{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5%;
        flex: start;
        align-items: none;
        justify-content: space-between;
        padding: 0px;
    
        .bloco-skin{
            border: solid 1px #CCC;
            border-radius: 10px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
            margin: 0px;
            padding: 2.5%;
            margin-bottom: 2%;
    
            img{
                width: 80%;
                margin: 10%;
            }
   
    
        }
    }
}