@import './config.scss';

h1{
    font-size: 32px;
    font-weight: bold;
}

.bloco-skins{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    //justify-content: space-around;
    margin-bottom: 5%;
}

.skin{
    border: solid 1px #CCC;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    //margin: 0px;
    //padding: 2.5%;
    margin: 10px 20px;

    img{
        margin: 15px
    }

    h4{
        text-align: center;
    }
}

.botao-equipar{
    margin: 10px 30px;
    background-color: $primaryColor;
    border: solid 1px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 5px 25px;
}



@media screen and (min-width:990px){

    .container-perfil{
        /* display: flex;
        flex-direction: row;
        flex: start;
        flex-wrap: wrap;
        margin-top: 2%; */

        .container-skins{
            margin-top: 3%;

            h3{
                margin: 0%;
                margin-bottom: 2%;
            }
        
            h4{
                margin-left: 0%;
            }
        }

    }

    .bloco-skins{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5%;
        flex: start;
        align-items: none;
        //justify-content: space-between;
        padding: 0px;
    }

    .skin{
        border: solid 1px #CCC;
        border-radius: 10px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
        margin: 0px;
        //padding: 2.5%;
        margin: 10px 20px;

        img{
            margin: 15px
        }
    }

    .container-perfil{
        display: flex;
        height: 100%;
        flex-direction: column;
        margin: 0px 100px;
    }

    .container-botao{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .containerNome{
        display: flex;
        margin-right: 40px
    }

    .container-botao button{
        margin-left: 10px;
    }

    .containerSenhas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    Input{
        margin-left: 10px;
    }
}